.btn {
  display: block;
  padding: 14px;

  cursor: pointer;
  text-align: center;
  border: 1px solid $accent;

  font-family: inherit;
  font-size: 18px;
  color: $accent;
  text-transform: uppercase;
  background: none;

  transition: all 0.3s linear;

  &:hover {
    border: 1px solid $blue;
    color: $blue;
  }

  @include breakpoint(480px) {
    padding: 10px;
  }
}
