.logo {
  margin-left: 120px;

  &--footer {
    margin: 0;

    @include breakpoint(992px) {
      & img {
        max-width: 230px;
      }
    }
  }

  @include breakpoint(768px) {
    margin: 0;
  }
  @include breakpoint(768px) {
    & img {
      max-width: 230px;
    }
  }
}
