.title {
  font-family: Corporate A;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;

  text-transform: uppercase;
  color: $accent;
  margin-bottom: 25px;

  @include breakpoint(768px) {
    margin-bottom: 15px;
  }
  @include breakpoint(480px) {
    margin-bottom: 5px;
  }
}
