.video {
  padding: 75px 0;

  &__img {
    margin-bottom: 25px;

    & img {
      max-width: 100%;
    }
  }

  &__btn {
    width: 100%;

    &:hover {
      svg path {
        fill: $blue;
      }
    }

    & svg {
      path {
        transition: all 0.3s linear;
      }

      margin-right: 9px;
      transform: translateY(5px);

      @include breakpoint(480px) {
        width: 17px;
      }
    }

    @include breakpoint(480px) {
      padding: 10px 10px 11px;
    }
  }

  @include breakpoint(768px) {
    padding: 40px 0;
  }
}
