<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="/policy" class="footer__policy">Политика конфиденциальности</a>

      <div class="logo logo--footer">
        <img src="assets/images/logo.svg" alt="logo" />
      </div>

      <ul class="social social--footer">
        <li class="social__item">
          <a href="/twitter"><img src="assets/images/social/twitter.svg" alt="twitter" /></a>
        </li>
        <li class="social__item">
          <a href="/google"><img src="assets/images/social/google.svg" alt="google" /></a>
        </li>
        <li class="social__item">
          <a href="/facebook"><img src="assets/images/social/facebook.svg" alt="facebook" /></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- container -->
</footer>
<!-- footer -->
