<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__icon">
        <span></span>
      </div>

      <div class="logo">
        <img src="assets/images/logo.svg" alt="logo" />
      </div>

      <ul class="social social--header">
        <li class="social__item">
          <a href="/twitter"><img src="assets/images/social/twitter.svg" alt="twitter" /></a>
        </li>
        <li class="social__item">
          <a href="/google"><img src="assets/images/social/google.svg" alt="google" /></a>
        </li>
        <li class="social__item">
          <a href="/facebook"><img src="assets/images/social/facebook.svg" alt="facebook" /></a>
        </li>
      </ul>

      <div class="header__menu">
        <div class="menu__wrapper">
          <nav class="nav">
            <ul class="nav__list">
              <li><a data-goto=".concept" class="nav__link">Concept</a></li>
              <li><a data-goto=".premier" class="nav__link">Premier</a></li>
              <li><a data-goto=".design" class="nav__link">Design</a></li>
              <li><a data-goto=".video" class="nav__link">Video</a></li>
            </ul>
          </nav>

          <ul class="social social--header social--mobile">
            <li class="social__item social__item--mobile">
              <a href="/twitter"><img src="assets/images/social/twitter.svg" alt="twitter" /></a>
            </li>
            <li class="social__item social__item--mobile">
              <a href="/google"><img src="assets/images/social/google.svg" alt="google" /></a>
            </li>
            <li class="social__item social__item--mobile">
              <a href="/facebook"><img src="assets/images/social/facebook.svg" alt="facebook" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->

  <div class="header__content">
    <h1 class="header__title">The VISION AVTR</h1>
    <span class="header__subtitle">Inspered by the future</span>
  </div>
</header>
<!-- header -->
